html {
    /* Size of largest container or bigger */
    /* min-width: 960px; */
    display: block;

}

.carousel-item {
    height: 60vh;
    background: no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.masthead {
    height: 330px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-custom {
    background-color: #FFFFFF;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(26, 188, 156, .8);
    font-weight: 500;
}

.navbar-custom .navbar-brand .navbar-brand-img {
    height: 42px;
    background: no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(26, 188, 156, .8);
    font-weight: 500;
    font-size: 16px;
    padding-right: 10px;
    letter-spacing: 1px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #16a085;
    font-weight: 500;
}

.navbar-footer {
    background-color: #FFFFFF;
}

/* change the brand and text color */
.navbar-footer .navbar-brand,
.navbar-footer .navbar-text {
    color: #FFFFFF;
    font-size: 12px;
}

/* change the link color */
.navbar-footer .navbar-nav .nav-link {
    color: #FFFFFF;
    font-weight: 500;
}

/* change the color of active or hovered links */
.navbar-footer .nav-item.active .nav-link,
.navbar-footer .nav-item:hover .nav-link {
    color: #16a085;
    font-weight: 500;
}

/* dropdown menu*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container-padding {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-padding-parallax {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-padding-gray {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F8F8F8;
}

.icon-about-title {
    margin-bottom: 24px;
}

.hr {
    height: 3px;
    background-color: #16a085;
    width: 20%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.hrLeft {
    height: 3px;
    background-color: #16a085;
    width: 100%;
    margin-bottom: 15px;
}

.icon-about {
    text-align: center;
    padding: 24px;
}

.icon-about i {
    font-size: 48px;
    color: #16a085;
}

.icon-about i:hover {
    font-size: 48px;
    color: #222f3e;
}

.icon-about h4 {
    margin-top: 24px
}

.parallax {
    /* The image used */
    background-image: url('../img/bg_parallax.png');

    /* Set a specific height */
    min-height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* content */
.contentTitle {
    letter-spacing: 3px;
}

/* footer */
.footer-bs {
    background-color: #353b48;
    padding: 48px 96px;
    color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-brand,
.footer-bs .footer-nav {
    padding: 0px 25px;
}

.footer-bs .footer-nav {
    border-color: transparent;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

.footer-bs .footer-brand a {
    display: inline-block;
    text-decoration: none;
    color: #F8F8F8
}

.footer-bs .footer-nav .pages {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav .pages .news a {
    color: rgba(255, 255, 255, 1.00);
    font-weight: 500;
    text-transform: none;
    font-size: 18px;
    text-decoration: none;
}

.footer-bs .footer-nav .pages .news a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-nav .pages .news p {
    color: rgba(255, 255, 255, 0.80);
    font-weight: 300;
    font-size: 14px;
    margin-top: 8px;
}

.footer-bs .footer-nav h2 {
    margin: 0px 0px 10px;
}

.footer-menu ul li {
    display: inline-block;
    text-decoration: none;
}

div.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 2px;
    color: rgba(0, 0, 0, .87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

div.card.card-plain {
    background: transparent;
    box-shadow: none;
}

div.card .card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    background: linear-gradient(60deg, #eee, #bdbdbd);
}

.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}

.div.card .card-body {
    padding: 15px 30px;
}

div.card .card-header-color {
    background: linear-gradient(60deg, #1abc9c, #16a085);
    box-shadow: none
}

.nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0, 0%, 100%, .2);
    transition: background-color .3s .2s;
}

.nav-tabs .nav-item .nav-link {
    border: 0 !important;
    color: #fff !important;
    font-weight: 500;
}

.nav-tabs .nav-item .nav-link {
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s 0s;
}

.nav-link {
    display: block;
}

.nav-tabs .nav-item .material-icons {
    margin: -1px 5px 0 0;
    vertical-align: middle;
}

.nav .nav-item {
    position: relative;
}

.news {
    margin-bottom: 10px;
}

.news a {
    color: #222f3e;
    text-decoration: none;
}

.news a:hover {
    color: #16a085;
    text-decoration: none;
}

.news img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.news h5 {
    color: #222f3e;
}

.news h5:hover {
    color: #16a085;
}

.news p {
    color: #000000;
    font-size: 14px;
}

.news-info {
    margin-bottom: 10px;
}

.news-info a {
    color: #222f3e;
    text-decoration: none;
}

.news-info a:hover {
    color: #16a085;
    text-decoration: none;
}

.news-info img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.news-info h5 {
    color: #222f3e;
}

.news-info h5:hover {
    color: #16a085;
}

.news-info p {
    color: #000000;
    font-size: 14px;
}

.content-section {
    min-height: 200px;
}

.sidebar-section {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 90px 15px;
}

.make-me-sticky h5 {
    text-align: left;
    font-size: 16px;
    padding-top: 12px;
}

/* Style the buttons */
.make-me-sticky .content-side {
    color: #050505;
    text-decoration: none;
}

.make-me-sticky .content-side:hover {
    color: #16a08580;
    text-decoration: none;
}

/* Style the active class, and buttons on mouse-over */
.make-me-sticky .active {
    color: #16a085;
    text-decoration: none;
}

.content-section h2 {
    text-align: center;
    margin: 0;
    padding-top: 200px;
}

.sidebar-item {
    text-align: center;
}

.content-section-item {
    padding: 90px;
}

.about {
    margin-top: 64px;
}

.card-vision-mission {
    margin-top: 64px;
}

.about-structure {
    margin-top: 24px;
}

.about-project {
    margin-top: 64px;
}

.contact {
    margin-top: 64px;
}

@media only screen and (max-width: 600px) {
    .carousel-item {
        height: 30vh;
        background: no-repeat center center fixed;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }

    .masthead {
        height: 30vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container-padding {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .container-padding-parallax {
        padding-top: 32px;
        padding-bottom: 32px;
        text-align: center
    }

    .container-padding-gray {
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: #F8F8F8;
    }

    .hr {
        height: 3px;
        background-color: #16a085;
        width: 20%;
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .icon-about-title h1 {
        font-size: 32px;
    }

    .icon-about {
        padding: 12px;
    }

    .icon-about h4 {
        font-size: 16px;
    }

    .icon-about p {
        font-size: 12px;
    }

    .icon-about i {
        font-size: 24px;
    }

    .parallax h1 {
        font-size: 32px;
    }

    .footer-bs {
        background-color: #353b48;
        padding: 24px 24px;
        color: rgba(255, 255, 255, 1.00);
    }

    .footer-bs .footer-brand,
    .footer-bs .footer-nav {
        padding: 0px 24px;
    }

    .footer-bs .footer-brand h4,
    .footer-bs .footer-nav h4 {
        font-size: 24px;
    }

    .contentTitle {
        font-size: 32px;
    }

    .content-section-item {
        padding: 24px;
    }

    .content-section-item h5 {
        font-size: 16px;
    }

    .sidebar-item {
        display: none
    }

    .about {
        margin: 12px;
    }

    .img-about {
        display: none
    }

    .card-vision-mission {
        margin: 0px;
    }

    .about-structure {
        margin-top: 12px;
    }

    .about-project {
        margin: 12px;
        font-size: 70%;
    }

    .contact {
        margin: 16px;
    }

    .contact .contact-info {
        text-align: center
    }

    .contact .contact-message {
        margin-top: 24px;
    }

    .news {
        padding-left: 24px;
        padding-right: 24px;
    }

    .news-info {
        display: none
    }
}
